In [71]:
import pandas as pd

In [72]:
df = pd.read_csv('커피빈매장.csv')
df

          Name                           Address           Tel
0     삼성봉은사거리점             서울시 강남구 영동대로 607 1,2층  02-3443-5618
1    코엑스웨스틴서울점   서울시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드   02-569-3103
2      삼성오크우드점           서울 강남구 테헤란로87길 46 지하 2층  02-3466-8507
3      삼성봉은사로점           서울시 강남구 봉은사로 628 엘슨빌딩1층   02-538-4523
4      도심공항타워점        서울시 강남구 테헤란로87길 36 공항타워 1층  02-2016-5330
..         ...                               ...           ...
208  강동경희대병원앞점         서울특별시 강동구 동남로 885 양지빌딩 1층   02-481-9938
209      새문안로점       서울특별시 종로구 새문안로 91 고려빌딩 1,2층   02-739-5806
210  광화문역1번출구점           서울시 종로구 새문안로5가길 7 1층 일부   02-723-3360
211   성균관대법학관점   서울시 종로구 성균관로 25-2 성균관대학교 법학관 B2   02-740-1958
212    경희궁의아침점  서울시 종로구 새문안로3길 23 경희궁아침상가4단지105외   02-730-8896

[213 rows x 3 columns]

In [73]:
import requests
import numpy as np

In [74]:
def get_location(address):
    url='https://dapi.kakao.com/v2/local/search/address.json?query='+address
    headers = {'Authorization': 'KakaoAK ad98eb58dd8030d6ea2e0281bdbe5bca'}
    res = requests.get(url, headers=headers).json()
    if res['documents']:
        x = res['documents'][0]['x']
        y = res['documents'][0]['y']
    else:
        x = np.nan
        y = np.nan
    return x, y

In [75]:
x, y=get_location('서울시 강남구 영동대로 607')
x,y

('127.059486615422', '37.5145473024381')

In [76]:
store = pd.read_csv('커피빈매장.csv')
store['X'] = ''
store['Y'] = ''
store.head(2)

        Name                          Address           Tel X Y
0   삼성봉은사거리점            서울시 강남구 영동대로 607 1,2층  02-3443-5618
1  코엑스웨스틴서울점  서울시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드   02-569-3103

In [77]:
for i in store.index:
    address = store.loc[i, 'Address']
    x,y =get_location(address)
    store.loc[i, 'X']=x
    store.loc[i, 'Y']=y

In [78]:
store.isnull().sum()
store.dropna(inplace=True)

In [79]:
store.isnull().sum()

Name       0
Address    0
Tel        0
X          0
Y          0
dtype: int64

In [80]:
store.head(5)

,Name,Address,Tel,X,Y
1,코엑스웨스틴서울점,서울시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드,02-569-3103,127.057115600619,37.5129534255276
2,삼성오크우드점,서울 강남구 테헤란로87길 46 지하 2층,02-3466-8507,127.058205573267,37.5109823973192
3,삼성봉은사로점,서울시 강남구 봉은사로 628 엘슨빌딩1층,02-538-4523,127.064164448221,37.5146694627537
4,도심공항타워점,서울시 강남구 테헤란로87길 36 공항타워 1층,02-2016-5330,127.058597240146,37.5102336492314
5,트레이드타워점,서울시 강남구 영동대로 511 트레이드타워 지하1층,02-803-9994,127.061023782931,37.510356849269

In [95]:
store.to_csv('커피빈맵.csv',index=False)

In [96]:
store = pd.read_csv('커피빈맵.csv')
store.head

<bound method NDFrame.head of      Unnamed: 0       Name                           Address           Tel  \
0             1  코엑스웨스틴서울점   서울시 강남구 봉은사로 524 코엑스 인터컨티넨탈아케이드   02-569-3103
1             2    삼성오크우드점           서울 강남구 테헤란로87길 46 지하 2층  02-3466-8507
2             3    삼성봉은사로점           서울시 강남구 봉은사로 628 엘슨빌딩1층   02-538-4523
3             4    도심공항타워점        서울시 강남구 테헤란로87길 36 공항타워 1층  02-2016-5330
4             5    트레이드타워점      서울시 강남구 영동대로 511 트레이드타워 지하1층   02-803-9994
..          ...        ...                               ...           ...
189         208  강동경희대병원앞점         서울특별시 강동구 동남로 885 양지빌딩 1층   02-481-9938
190         209      새문안로점       서울특별시 종로구 새문안로 91 고려빌딩 1,2층   02-739-5806
191         210  광화문역1번출구점           서울시 종로구 새문안로5가길 7 1층 일부   02-723-3360
192         211   성균관대법학관점   서울시 종로구 성균관로 25-2 성균관대학교 법학관 B2   02-740-1958
193         212    경희궁의아침점  서울시 종로구 새문안로3길 23 경희궁아침상가4단지105외   02-730-8896

              X          Y
0    127.057116  37.512953
1    127.058206  37.510982
2    127.064164  37.514669
3    127.058597  37.510234
4    127.061024  37.510357
..          ...        ...
189  127.155976  37.552654
190  126.974761  37.570488
191  126.974038  37.572771
192  126.993115  37.587228
193  126.972441  37.572631

[194 rows x 6 columns]>

In [92]:
store.to_csv('커피빈맵.csv', index=False)

In [93]:
address = '인천'
filt = store['Address'].str.contains(address)
df = store[filt]

In [101]:
import folium
import warnings

def get_map(address):
    filt = store['Address'].str.contains(address)
    df = store[filt]
    if len(df.index)==0:
        print('못찾음')
    else:
        first = df.head(1)
        x = first['X']
        y = first['Y']
        map = folium.Map(location=[y,x], zoom_start=15)
        for idx, row in df.iterrows():
            name = row['Name']
            x = row['X']
            y = row['Y']
            folium.Marker(location=[y,x], 
                          popup=folium.Popup(f'[{idx}]name', max_width=200),
                          icon=folium.Icon(color='red', icon='star')).add_to(map)
        map.save(f'{address}.html')


get_map('광명')