In [7]:
import pandas as pd

In [8]:
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}

In [9]:
type(df)

NameError: name 'df' is not defined

In [ ]:
series = df['이름'][0:5]
series, type(series)

NameError: name 'df' is not defined

In [12]:
df2 = df[['이름', '학교', '키']]
df2, type(df2)

NameError: name 'df' is not defined

In [15]:
df2.shape, series.shape

NameError: name 'df2' is not defined

In [27]:
df3 = pd.DataFrame(data, index=['1번','2번','3번','4번','5번','6번','7번','8번'])
df3[['이름','키']]['1번':'5번']

     이름    키
1번  채치수  197
2번  정대만  184
3번  송태섭  168
4번  서태웅  187
5번  강백호  188